*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.site-main {
    border-right: none;
    width: 100%;
}
#secondary {
    display: none;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    width: 100%;
    color: #393939;
    font-size: smaller;
    height: 100vh;
}
   

li, a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.main-header{
    background-color: white;
    height: auto;
    width: minmax(auto, 100%);
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
}

.main-nav{
    display: flex;
    width: 100%;
    height: 50px;
    padding: 5px 25px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.main-nav .Lnav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.main-nav .Lnav li{
    display: flex;
    padding: 10px;
}


.main-nav .Rnav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main-nav .Rnav li{
    padding: 10px;
    display: flex;
}

.grid-img{
    width: 15px;
    height: 15px;
}

.grid-img, button{
    padding: 0, 30px;
}


.button{
    background-color: #4685f0;
    width: 5em;
    height: 2.4em;
    border-radius: 1px;
    border-style: none;
    align-self: center;
    color: white;   
}


.body-div{
    display: block;
    margin: auto;
    justify-content: center;
    align-content: center;
    margin-top: 14vh;
    border-style: hidden;
    
}

.body-container{
    height: 69.25vh;
    width: 100%;
    
}


.search-box {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 42%;
    height: 40px;
    border-radius: 25px;
    border-style: solid;
    margin-top: 30px;
}


.buttons-below{
    margin: auto;
    display: flex;
    margin: 20px 10px;
    border-radius: 5px;
    height: 40px;
    border-color: #efefef;
    padding: 5px 50px;
    justify-content: center;
    flex-direction: row;
} 

.button{
    margin: 20px;
}


.glogo{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    
}

.small-p {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-width: 1px;
    width: minmax(auto, 100%);
    height: auto;
    align-content: center;
    position: relative;
    align-self: baseline;
}
    

.fnav{
    display: flex;
    width: 100%vw;
    justify-content: space-between;
    padding: 3px 25px;
}


.fnav .llist ul{
    display: flex;
    flex-direction: row;
}

.fnav .rlist ul{
    display: flex;
    flex-direction: row;
}

.rlist li{
    justify-content: flex-end;
    margin: 10px 15px;
}

.llist li{
    justify-content: flex-start;
    margin: 10px 15px
}

